@import 'utilities';
@import 'buttons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}

//navbar
main {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    .overlay {
        position: absolute;
        &.active {
            z-index: 1;
            left: 0;
            width: 100%;
            height: 100%;   
            background: rgba(0,0,0,0.6);
        }     
    }
    aside{
        flex: 1;
        height: 100vh;
        color: $light-color;
        background-color: $primary-color;
        border-right: 1px solid #888;
        padding: 40px;
    }
    #main{
        flex: 4;
        display: flex;
        flex-direction: column;
        color: $light-color;
        }
        nav {
            padding: 40px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #888;
            background-color: $primary-color;
            button {
                @include btn($btn-color, $light-color)
            }
        }
    }
    .new-task{
        position: absolute;
        top: -900px;
        transition: 0.3s;
        width: 400px;
        height: 600px;
        transform: translate(50%,50%);    
        padding: 20px;
        border-radius: 5px;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;    
        z-index: 2;
        &.active {
            top: 0;
        }
        h2 {
            font-weight: 400;
            margin-bottom: 20px;
        }
        h4{
            margin-bottom: 10px;
        }
        .title, .desc, .subtasks, .status {
            margin-bottom: 20px;
            h4 {
                font-weight: 600;
            }
            button {
                @include btn($light-color, $btn-color)
            }
            input,select {
                width: 100%;
                outline: none;
                color: #fff;
                background-color: transparent;
                border: 1px solid #555555;
                padding: 13px;
                border-radius: 4px;
                margin-bottom: 10px;
                transition: 0.3s;
                option {
                    color: #000;
                }
                &:focus {
                    border: 1px solid #ccc;
                }
            }
        }
        button {
            h4 {
                margin: 0;
                font-weight: 600;
            }
        }
    }
    section.main-sec {
        height: 100%;
        padding: 40px;
        background-color: $secondary-color;
        display: flex;
        .data-handler{
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            flex-direction: row;
            .todos, .done, .doing {
                flex: 1;
                position: relative;
                .pre-plan{
                    position: relative;
                    display: flex;
                    margin-left: 10px;
                    align-items: center;
                    .status {
                        color: #918e8e;
                        font-size: 12px;
                        margin-left: 20px;
                    }
                    span {
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        &.todo-span {
                            background-color: #45c4e7;
                        }
                        &.done-span {
                            background-color: #67e0ab;
                        }
                        &.doing-span {
                            background-color: #836ef9;
                        }
                    }
                    h4 {
                        margin-left: 20px;
                        text-transform: uppercase;
                        font-size: 13px;
                    }

                    
                }

            }
            .todo, .done-todos, .doing-todos {
                margin: 10px;
                background-color: $primary-color;
                padding: 20px;
                width: 97%;
                margin-right: 10px;
                border-radius: 4px;
                p {
                    margin-bottom: 10px;
                }
                
            }
            /*div {
            }*/
        }
    }
