@import 'utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}

//navbar
main {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    .overlay {
        position: absolute;
        &.active {
            left: 0;
            width: 100%;
            height: 100%;   
            background: rgba(0,0,0,0.6);
        }     
    }
    aside{
        flex: 1;
        height: 100vh;
        color: $light-color;
        background-color: $primary-color;
        border-right: 1px solid #888;
        padding: 40px;
    }
    #main{
        flex: 4;
        display: flex;
        flex-direction: column;
        color: $light-color;
        }
        nav {
            padding: 40px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #888;
            background-color: $primary-color;
            .add-task button {
                background-color: #645FC6;
                border: none;
                padding: 15px;
                border-radius: 25px;
                color: $light-color;
                cursor: pointer;
            }   
        }
    }
    .new-task{
        position: absolute;
        top: -900px;
        transition: 0.3s;
        width: 400px;
        height: 600px;
        transform: translate(50%,50%);    
        padding: 20px;
        border-radius: 5px;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;    
        &.active {
            top: 0;
        }
        h2 {
            font-weight: 400;
            margin-bottom: 20px;
        }
        input {
            width: 100%;
            outline: none;
            color: #fff;
        }
        h4 {
            font-weight: 400;
            margin-bottom: 10px;
        }
        .title, .desc, .subtasks {
            margin-bottom: 20px;
            input {
                background-color: transparent;
                border: 1px solid #555555;
                padding: 13px;
                border-radius: 4px;
                margin-bottom: 10px;
            }
        }
        button {
            background-color: $light-color;
            border: none;
            padding: 15px;
            border-radius: 25px;
            color: #645FC6;
            width: 100%;
            cursor: pointer;
            h4 {
                margin: 0;
                font-weight: 600;
            }
        }
    }
    section.main-sec {
        height: 100%;
        padding: 40px;
        background-color: $secondary-color;
        display: flex;
        .marketing-plan, .roadmap, .platform-launch{
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            flex-direction: column;
            .pre-plan{
                position: relative;
                display: flex;
                margin-left: 10px;
                align-items: center;
                .status {
                    color: #918e8e;
                    font-size: 12px;
                    margin-left: 20px;
                }
                span {
                    position: absolute;
                    /* top: 0; */
                    /* left: 1px; */
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    /* margin-right: 6px; */
                }
            }
            .plan {
                margin: 10px;
                background-color: $primary-color;
                padding: 20px;
                border-radius: 4px;
                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
