html(lang="en")
    head
        include head.pug
    body 
        main
            .overlay
            section#main
                nav 
                    .platform 
                        p Platform Launch
                    .add-task
                        button
                            h4 +Add New Task
                .new-task
                    h2 Add New Task 
                    .title 
                        h4 Title 
                        input(type='text' id='title' placeholder='e.g Take coffe break' required)
                    .subtasks 
                        h4 Subtasks 
                        input(type='text' id='subtitle' placeholder='e.g Make coffee' required)
                    .status
                        h4 Status                                 
                        select(name="" id='categories' required)  
                            option(value='platform-launch' selected) Platform Launch
                            option(value='marketing-plan') Marketing Plan
                            option(value='roadmap') Roadmap
                        select(name="" id='state' required)  
                            option(value='todos/todo' selected) Todo
                            option(value='doing/doing-todos') Doing
                            option(value='done/done-todos') Done
                        button.create-task 
                            h4 Create new task
                section.main-sec
                   .data-handler
            .show-query

            aside 
                .logo 
                    img(src='lib/logo.png')
                p All Boards
                ul 

                div(class='create-new-board')
                    i(class="fa-solid fa-table-columns")
                    span +Create New Board
            .new-board
                span Board Name: 
                input(type="text" placeholder='Enter Board Name')
                button Add Board
        script(src="dist/bundle.js") 
